body {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#66a6ff+0,60abf8+56,89f7fe+100 */
  background: #66a6ff; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #66a6ff 0%, #60abf8 56%, #89f7fe 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #66a6ff 0%,#60abf8 56%,#89f7fe 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #66a6ff 0%,#60abf8 56%,#89f7fe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66a6ff', endColorstr='#89f7fe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

h1 {
  margin: 0 auto;
  color: #F5F7F9;
}

div {
  width:100%;
}

section {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#89f7fe+0,60abf8+44,66a6ff+100 */
  background: #89f7fe; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #89f7fe 0%, #60abf8 44%, #66a6ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #89f7fe 0%,#60abf8 44%,#66a6ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #89f7fe 0%,#60abf8 44%,#66a6ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89f7fe', endColorstr='#66a6ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 20px 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
ul {
  padding: 0 40px;
  list-style: none;
}
li {
  padding: 10px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 10px;
}
